# Compiler files
cache/
out/
artifacts/
node_modules/
cache_hardhat/
.openzeppelin/unknown-31337.json
deployments/localhost
deployments/hardhat
**/tsconfig.build.tsbuildinfo

# Ignores development broadcast logs
!/broadcast
/broadcast/*/80001/
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.env.*
*.env

# Emacs detritus
*~
\#*\#
.\#*

# Private keys
anvil.json
